/* @font-face {
  font-family: 'Roboto';
  src: url('../fonts/Grift-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-hero: #FBBF13;
}

body {
  font-family: 'Roboto', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

html, body {
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
}